.container-sidebar {
    overflow-x: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.container-sidebar::-webkit-scrollbar {
    display: none;  
}

.container-navbar {
    display: none;
}

@media (max-width: 800px) {
    .container-sidebar {
        width: 200px;
    }

    .my-photo img {
        width: 80px;
    }
}

@media (max-width: 800px) {
    .container-sidebar {
        width: 150px;
    }

    .my-photo img {
        width: 70px;
    }

    .full-name {
        font-size: 12px;
    }

    .icon-fullname {
        font-size: 15px;
    }

    .text-unduh {
        font-size: 11px;
    }

    .text-menu {
        font-size: 10px;
    }

    .icon-menu {
        font-size: 15px;
    }
}

@media (max-width: 700px) {
    .container-sidebar {
        display: none;
    }

    .container-navbar {
        display: flex;
    }  
}

/* @media (max-width: 470px) {
    .container-sidebar {
        width: 50px;
    }

    .my-photo {
        background-image: none !important;
    }

    .my-photo img {
        display: none;
    }

    .name-username {
        display: none;
    }

    .sosmed {
        display: none;
    }

    .text-menu,
    .text-unduh {
        display: none;
    }

    .hr-responsive {
        display: none;
    }

    .menu-sidebar {
        display: flex;
        justify-content: center;
        flex-direction: column; 
        align-items: center; 
        margin-top: -100px;
    }

    .dark-mode {
        margin-top: -100px;
    }

    .menu-sidebar > a {
        width: auto;
        margin-top: 10px;
    }

    .menu-sidebar > a > div {
        flex-direction: column; 
        align-items: center;
        padding: 10px; 
    }

    .menu-sidebar > a > div > p {
        display: none; 
    }

    .button-unduh {
        border: none;
    }
} */