:root {
    --p-inline: 0.75rem;
    --p-block: 0.5rem;
    --row-gap: 1rem;
    --col-gap: 1.5rem;
    --border-radius: 0.75rem;
}

.sidebar {
    transition: width 0.3s ease-in-out; 
     overflow-x: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.sidebar::-webkit-scrollbar {
    display: none;  
}

.sidebar.active {
    width: 250px; 
}

.sidebar .wrapper {
    transition: transform 0.3s ease-in-out; 
}

.sidebar.active .wrapper {
    transform: translateX(0); 
}

.sidebar .background {
    display: none;
}

.sidebar.active .background {
    display: flex;
}

.sidebar .my-photo {
    width: 50px;
    margin-top: 100px;
}

.sidebar.active .my-photo {
    width: 90px;
    margin-top: -1px;
}

.sidebar .name-username {
    display: none;
}

.sidebar.active .name-username {
    display: flex;
    flex-direction: column;
}


.sidebar .sosmed {
    display: none;
}

.sidebar.active .sosmed {
    display: flex;
    flex-direction: row;
}

.sidebar input {
    display: none;
}

.sidebar.active input {
    display: flex;
}

.open-btn {
    right: calc(var(--p-inline) * 1);
    top: var(--p-block);
    z-index: 99;
    transition: transform 0.6s ease-in;
}

.sidebar.active .open-btn {
    transform: rotate(180deg);
}

.sidebar .nav-menu {
    row-gap: var(--row-gap);
}


.sidebar .nav-menu .nav-menu_link {
    border-radius: var(--border-radius);
    column-gap: var(--col-gap);
    padding-block: var(--p-block);
    padding-inline: var(--p-inline);
}

nav {
    margin-top: 20px;
}

::placeholder {
    font-size: 13px;
    color: #949494;
}

@media (max-width: 470px) {
    .container-photo {
        padding-left: 40px;
    }

    .nav-menu {
        padding-left: 5px;
    }

    .background {
        margin-left: 18px;
    }

    .container-search {
        margin-left: 14px;
        padding-left: 10px;
        border: 1px solid #949494;
        border-radius: 5px;
    }

    .icon-search {
        font-size: 15px;
    }
}

